body{
    margin: 0;
    padding: 0;
}

/* სათაურის ნაწილი */
.header{
    width: 100%;
    padding: 38px 162px 38px 162px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #DBDBDB;
}
.header h1{
    color: red;
}


/* საძიებოს ნაწილი */

.search-bar{
    width: 1596px;
    height: 47px;
    top: 177px;
    left: 162px;
    display: flex;
    justify-content: space-between;
}